.box {
  display: flex; 
  flex-wrap: wrap;
}

.dividers {
  flex-grow: 0.25;
  border: 1px solid;
}

@media (max-width: 720px) {
  .dividers {
    width: calc(50% - 2px)
  }
}

@media (max-width: 360px) {
  .dividers {
    width: calc(100% - 2px)
  }
}
/*
  note my browser cant go down to 360px but it works if you use the f12 mode
*/